<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="footer-logo col-lg-4">
               <a href="#"><img src="assets\f-logo\footer-logo.png" alt="logo"></a>
            </div>
            <div class="address-wrap col-lg-3">
                <h2>addres</h2>
                <p>IVISION WEB STUDIO, 3rd Floor Nilgiri apartment Karve Road, Erandwane, Near Bajaj Service Station, Opposite SNDT College, Kothrud Pune 411038.</p>
            </div>
            <div class="fdetails-wrap col-lg-3">
                <h2>work inquiries </h2>
                    
            </div>
        </div>
    </div>
</div>