.content-wrapper h1 {
  font-size: 80px;
  color: #17161a;
  text-transform: capitalize;
  font-family: 'Audiowide', cursive;
}

.content-wrapper h3 {
  font-size: 20px;
  font-weight: 500;
  color: #17161a;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.b-imagewrap img {
  width: 100%;
}
