<div class="banner-section">
    <div class="container-fluid">
        <div class="row">
            <div class="content-wrapper col-lg-6">
                <h3>we are proud of the workes we've done</h3>
                <h1>we're design creators</h1>
            </div>
            <div class="b-imagewrap col-lg-6">
                <img src="assets\banner\banner-img.svg" alt="svg-banner">
            </div>
        </div>
    </div>
</div>