<router-outlet>
  <app-header></app-header>
  <app-banner></app-banner>
  <app-services></app-services>
  <app-project></app-project>
  <app-capabilities></app-capabilities>
  <app-collabration></app-collabration>
  <app-footer></app-footer>
</router-outlet>
