<div class="capabilities-section">
    <div class="container-fluid">
        <div class="row">
            <div class="img-content-wrap col-lg-7">
                <h3>capabilities</h3>
                <h2>Creative studio for website design and development</h2>
                <div class="image-wrapper">
                    <img src="assets\cap\capabilities.jpg" alt="cap-image"/>
                </div>
            </div>
            <div class="cap-content-wrap col-lg-5">
                <h2>We develop best web product for our customers.</h2>
            </div>
        </div>
    </div>
</div>