<div class="collabration-section">
    <div class="container-fluid">
        <div class="row">
            <div class="ctext-wrapper col-lg-9">
                <h2>collabration</h2>
                <h3>got a project ? let's talk</h3>
            </div>
            <div class="cbutton-wrapper col-lg-3">
                <a href="#" class="cbtn">contact us</a>
            </div>
            <div class="text-wrapper">
                <p>We’re a team of creatives who are excited about unique ideas and help fin-tech
                   companies to create amazing identity by crafting top-notch UI/UX.</p>
            </div>
        </div>
    </div>
</div>