<div class="project-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 info-wrapper">
                <h3>featured projects</h3>
                <h2>Expertise and experience of delivering an exact match to your requirements</h2>
            </div>
            <div class="slider-warpper">
                
            </div>
        </div>
    </div>
</div>